*{
      margin: 0;
      padding: 0;
}
/* navbar */
 body{
       background-color: #ffffff;
       padding: 5px;
 }
nav{
      width: 100%;
      height: 80px;
      background-color: rgb(255, 255, 255);
      display: grid;
      grid-template-columns: 1fr 1.8fr 1fr;
    position: absolute;   
    border-bottom: 1px solid rgb(224, 224, 224); 
    
}

.logo{
      display: grid;
      place-items: end;
      margin-right:4em ;
}

.logo img{
      cursor: pointer;
      width: 130px;
      height: 80px;
}
.list{
      display: grid;
   
}

.list ul{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
      align-items: center;
      justify-items:start ;

}
.list ul li {
      list-style-type: none;  
}
.list ul li  a{
      text-decoration: none;
      color: rgb(22, 22, 22);    
}
.list ul li  a:hover{
 
      color: rgb(19, 126, 0);
}

/* service-------------------------------------------------------------------------------------------------------------service */

.service{
      display: none;
      margin-top: 35px;
      position: absolute;
      width: 1580px;
      margin-left: -570px;
      height: 500px;
     
      
}
.serviceparent{
    width: 100px;
    height: 50px;
    padding-top: 13px;   
}
.serviceparent:hover .serpis{
      color:rgb(30, 175, 5);
}
.joinparent:hover .joinus{
      color: rgb(30, 175, 5);
}

.serviceparent:hover a{
      color: rgb(30, 175, 5);
      font-weight: 500;
      
}
.serviceparent .ser-up,.serviceparent .ser-down{  
      padding-left: 10px;   
    }
.serviceparent .ser-up{
    display: none;
     
  }
  .serviceparent:hover .ser-up{
      display:inline-block ;
        
    }
  .serviceparent:hover .ser-down{
      display: none;
     
       
    }

.serviceparent:hover .service{
      display: inline-block;
}
.bungkus{
      background-color: #fff;
      margin-top: 24px;
      padding-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-top: 0.5px solid rgb(228, 228, 228);
}
.satu{
      background-color:#f7f7f7;
      margin-top: -20px;
      padding-top: 10px;

}
.satu ul{
      font-size: 18px;
      display: block;
      padding-left: 230px;     
}
.satu ul li {
      padding-top: 15px;
}
.dua ul{
      display: block;
      padding-left: 200px;
      font-size: 18px;

}
.dua ul li{
      padding-top: 15px;

}
.tiga{
      font-size: 18px;
      margin-top: -20px;
      padding-top: 10px;
      background-color:#f7f7f7;
      height: 500px;
}
.tiga ul{
      display: block;
      background-color:#f7f7f7;
}
.tiga ul li{
      padding-top: 15px;

}

/* join us ----------------------------------------------------------------------------------------join us*/

.join{
      display: none;
      margin-top: 35px;
      position: absolute;
      width: 1580px;
      margin-left: -1010px;
      height: 500px;     
      
}
.joinparent{
    width: 100px;
    height: 50px;
    padding-top: 13px;   
}
.joinparent:hover a{
      color: rgb(40, 240, 4);
      font-weight: 500;
      
}
.joinparent .ser-up,.joinparent .ser-down{  
      padding-left: 10px;   
    }
.joinparent .ser-up{
    display: none;
     
  }
  .joinparent:hover .ser-up{
      display:inline-block ;
        
    }
  .joinparent:hover .ser-down{
      display: none;
     
       
    }

.joinparent:hover .join{
      display: inline-block;
}
.bungkus{
      background-color: #fff;
      margin-top: 24px;
      padding-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-top: 0.5px solid rgb(228, 228, 228);
    
}
.satu{
      background-color:#f7f7f7;
      margin-top: -20px;
      padding-top: 10px;

}
.serviceparent{
    width: 100px;
    height: 50px;
    padding-top: 13px;   
}
.serviceparent:hover a{
      color: rgb(37, 224, 4);
      font-weight: 500;
      
}
.serviceparent .ser-up,.serviceparent .ser-down{  
      padding-left: 10px;   
    }
.serviceparent .ser-up{
    display: none;
     
  }
  .serviceparent:hover .ser-up{
      display:inline-block ;
        
    }
  .serviceparent:hover .ser-down{
      display: none;
     
       
    }

.serviceparent:hover .service{
      display: inline-block;
}
.bungkus{
      background-color: #fff;
      margin-top: 24px;
      padding-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-top: 0.5px solid rgb(228, 228, 228);
}
.satu{
      background-color:#f7f7f7;
      margin-top: -20px;
      padding-top: 10px;

}
.satu ul{
      font-size: 18px;
      display: block;
      padding-left: 230px;     
}
.satu ul li {
      padding-top: 15px;
}
.dua ul{
      display: block;
      padding-left: 200px;
      font-size: 18px;

}
.dua ul li{
      padding-top: 15px;

}
.tiga{
      font-size: 18px;
      margin-top: -20px;
      padding-top: 10px;
      background-color:#f7f7f7;
      height: 500px;
}
.tiga ul{
      display: block;
      background-color:#f7f7f7;
}
.tiga ul li{
      padding-top: 15px;

}


.satu ul{
      font-size: 18px;
      display: block;
      padding-left: 230px;     
}
.satu ul li {
      padding-top: 15px;
}
.dua ul{
      display: block;
      padding-left: 200px;
      font-size: 18px;

}
.dua ul li{
      padding-top: 15px;

}
.tiga{
      font-size: 18px;
      margin-top: -20px;
      padding-top: 10px;
      background-color:#f7f7f7;
      height: 500px;
}
.tiga ul{
      display: block;
      background-color:#f7f7f7;
}
.tiga ul li{
      padding-top: 15px;

}









/* dropdown bahasa -------------------------------------------------------------------------------------------------------dropdown bahasa*/

.dropdown{
    
      display: grid;
      align-content: center;
     padding-left: 3em;
      background-color: rgb(255, 255, 255);
      border-bottom: 1px solid rgb(224, 224, 224);
}
.dropdown .bahasa {
     width: 130px;
     height: 40px;

}
.dropdown ul {
      background-color: rgb(255, 255, 255);
      height: 80px;
      width: 170px;
      list-style: none;
      padding: 0px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
}

.dropdown ul li {
      padding: 10px;     
      
}
.dropdown ul {
      display: none;
      
}
.dropdown .bahasa ul{
      position: absolute;
      margin-left: -40px;
      border-radius: 5px;
      margin-top: 10px;
}

.dropdown .bahasa:hover ul {
      display: block;
}

.dropdown p {
      width: 170px;
      height: 30px;
     
}

.dropdown ul li a,
.dropdown ul li a {
      text-decoration: none;
      color: black;
}

.dropdown ul .eng:hover a,
.dropdown ul .idn:hover a {
      color: white;
}

.dropdown ul .idn:hover {
      background-color: rgb(0, 160, 21);
      color: white;
     
}

.dropdown ul .eng:hover {
      background-color: rgb(0, 160, 21);
      color: white;
}
.up, .down{
padding-left: 12px;

}
.dropdown .bahasa .up{
      display: none;
}
.dropdown .bahasa:hover .up{
      display: inline-block;
}
.dropdown .bahasa:hover .down{
      display: none;
}
.world-icon{
      padding-right:0.5em ;
}

/* container carousel 1----------------------------------------------------  */
.container{
      width: 100%;
   
      padding-top: 80px;
}
.container .gambar1 img{
      margin-left: -147px;
      height: 130%;
}
.yayasan{
      display: grid;
      height: 600px;
      grid-template-columns: 50% auto;
}
.yayasan .gambar2{
      padding: 20px;
      display: grid;
      background-color: rgb(255, 255, 255);
}
.yayasan .gambar2 img{
      width: 500px;
      height: 300px;
      display: grid;
      justify-self: end;
      align-self: center;
      border-radius: 15px;
}
.yayasan .keterangan{
      padding-left: 40px;
      padding-right: 50px;
      display: grid;
      place-content: center;
      background-color: rgb(255, 255, 255);
}
.keterangan strong{
      font-size: 30px;
      padding-bottom: 30px;
}

.keterangan .foh{
      font-weight: bold;
      font-size: 16px;
      color: rgb(19, 160, 0);
      text-decoration: none;
}
.keterangan .foh i{
      padding-left: 15px;
}
