*{
      margin: 0;
      padding: 0;
}
/* navbar */
 body{
       background-color: #f9f1ec;
       padding: 5px;
 }
nav{
      width: 100%;
      height: 80px;
      background-color: rgb(255, 255, 255);
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    position: absolute;
   
     
    
}

.logo{
      display: grid;
      place-items: center;
}

.logo img{
      cursor: pointer;
      width: 130px;
      height: 80px;
}
.list{
      display: grid;
   
}

.list ul{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
      place-items: center;

}
.list ul li {
      list-style-type: none;  
}
.list ul li  a{
      text-decoration: none;
      color: rgb(22, 22, 22);    
}
.list ul li  a:hover{
 
      color: rgb(19, 126, 0);
}






.dropdown{
      display: grid;
      place-content: center;
      background-color: rgb(255, 255, 255);
}
.dropdown .bahasa {
     width: 100px;
     height: 40px;

}
.dropdown ul {
      background-color: rgb(255, 255, 255);
      height: 80px;
      width: 170px;
      list-style: none;
      padding: 0px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 1px rgb(136, 136, 136);
}

.dropdown ul li {
      padding: 10px;     
      
}
.dropdown ul {
      display: none;
      
}
.dropdown .bahasa ul{
      position: absolute;
      margin-left: -40px;
      border-radius: 5px;
      margin-top: 10px;
}

.dropdown .bahasa:hover ul {
      display: block;
}

.dropdown p {
      width: 170px;
      height: 30px;
     
}

.dropdown ul li a,
.dropdown ul li a {
      text-decoration: none;
      color: black;
}

.dropdown ul .eng:hover a,
.dropdown ul .idn:hover a {
      color: white;
}

.dropdown ul .idn:hover {
      background-color: rgb(0, 160, 21);
      color: white;
     
}

.dropdown ul .eng:hover {
      background-color: rgb(0, 160, 21);
      color: white;
}
.up, .down{
padding-left: 12px;

}
.dropdown .bahasa .up{
      display: none;
}
.dropdown .bahasa:hover .up{
      display: inline-block;
}
.dropdown .bahasa:hover .down{
      display: none;
}





